#OSX
#-------------------------------------------------------------------------------
.DS_STORE

#General
#-------------------------------------------------------------------------------
lib
node_modules
*.tsx
package-lock.json