#OSX
#-------------------------------------------------------------------------------
.DS_STORE

#General
#-------------------------------------------------------------------------------
/lib
/docs
/coverage
node_modules
package-lock.json